@import 'mixins';

footer {
    @include flex-center;
    padding: 1rem 2rem;
    border-top: 1px solid black;
    font-size: 13px;

    a {
      text-decoration: none;
      margin-right: 10px;
      color: black;
    }

    // @include breakpoint(both) {
    //   border-left: 1px solid black;
    // }


  }