.index {
    main {
        @include flex-center;
        padding: 1rem;
      }
      
      ol {
        counter-reset: my-awesome-counter;
        font-family: 'Fira Sans', sans-serif;
      
        li {
          counter-increment: my-awesome-counter;
          font-size: 3rem;
          margin-bottom: 1rem;
      
          &:before {
            content: '0' counter(my-awesome-counter);
            font-size: 10px;
            margin-right: 1rem;
          }
        }
      }
      
}