.photography {
  overflow: hidden;

  .page-content {
    padding: 1rem 0;

    #photo-wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    .photo {
      overflow: hidden;
      overflow-x: scroll;
      flex-grow: 1;
      margin-bottom: 1rem;

      @include breakpoint(both) {
        margin: 2rem;
      }
    }

    img.lazy {
      max-height: 100%;
      min-width: 100%;
      height: 65vh;
      object-fit: cover;
      background-image: url('../images/loading.gif');
      background-size: cover;
    }
  }
}
